body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */

.header--main {
    color: white;
    font-size: 50px;
    font-weight: normal;
}



/* LINKS */

.link--cta {
    color: aquamarine;
    font-size: 16px;
}



/* FOOTER */