body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */

.header--main {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header--sub {
    color: gray;
    font-size: 21px;
}

/* LINKS */

.link--cta {
    color: aquamarine;
    font-size: 16px;
}

/* FOOTER */

.footer--copyright {
    color: gray;
    font-size: 16px;
    text-align: right;
}